@import "../../utils/variables.scss";

.eis-button {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  color: $text-color;
  &.primary {
    background-color: $primary-color;
    color: white;
  }
  &.small {
    height: 2rem;
    min-height: 2rem;
  }

  &.medium {
    height: 2.5rem;
    min-height: 2.5rem;
  }

  &.large {
    height: 3rem;
    min-height: 3rem;
  }
  &.rounded {
    border-radius: 100rem;
  }
  &.outlined {
    background-color: transparent;
  }
}
