@import url("https://fonts.googleapis.com/css2?family=Handlee&display=swap");

$primary-font: "Handlee";

//////////
/// FONT SIZES
//////////
$extraSmallFont: 0.625rem; //10px
$smallFont: 0.76rem; //12px
$defaultFont: 0.875rem; // 14px
$mediumFont: 1rem; //16px
$largeFont: 1.5rem; //24px
$extraLargeFont: 3rem; //48px
