.eis-sidebar {
  height: 100%;
  padding: 1rem;
  width: 3rem;
  transition: width 1s;
  transition-delay: 0.5s;
  box-shadow: 0.25rem 0.25rem 1rem 0.25rem #000000;
  .sidebar-title {
    position: relative;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    .extended-title {
      opacity: 0;
      font-size: 0;
      transition: all 1s;
    }
    .title {
      opacity: 1;
      transition: all 1s;
    }
    .extended-title,
    .title {
      position: absolute;
    }
  }
  .sidebar-content {
    display: flex;
    flex-direction: column;
    .eis-sidebarItem {
      display: flex;
      align-items: center;
      position: relative;
      overflow: hidden;
      svg {
        z-index: 1;
      }
    }
    .eis-siderbarGroup {
      .sidebarGroup-title {
        display: flex;
        gap: 1rem;
        align-items: center;
        position: relative;
        cursor: pointer;
      }
      .sidebarGroup-items {
        height: 0;
        overflow: hidden;
        dd {
          margin-left: 1.5rem;
        }
      }
      &.isOpen {
        .sidebarGroup-items {
          height: 100%;
        }
      }
    }
  }
  &.isOpen {
    width: 15rem;
    transition: width 1s;
    .sidebar-title {
      .title {
        transition: all 1s;
        opacity: 0;
        font-size: 2rem;
      }
      .extended-title {
        transition: all 1s;
        opacity: 1;
        font-size: 2rem;
      }
    }

    .eis-sidebarAnimatedItem {
      left: 2rem;
      opacity: 1;
      width: auto;
      transition-delay: 1s;
      transition: all 1s;
    }
  }
  .eis-sidebarAnimatedItem {
    z-index: 0;
    position: absolute;
    left: -6rem;
    transition: all 1.5s;
    opacity: 0;
    width: 0;
    transition-delay: 0.75s;
  }
}
