@import '../theme/utils/variables.scss';

.tecma-radiobtn {
  display: flex;
  .radio-btn {
    width: 1rem;
    height: 1rem;
    border: 2px solid $primaryColor;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    + label {
      margin-left: 0.5rem;
    }
    .checked {
      width: 0.5rem;
      height: 0.5rem;
      border-radius: 50%;
      background-color: $primaryColor;
    }
  }
  &.disabled {
    opacity: 0.5;
  }
}
